<div class="backdrop lux is-hidden" data-modal-price-in-t>
  <div class="modal-price is-hidden" data-modal-price-t>
    <button
      type="button"
      class="modal-price__button-close"
      aria-label="закрити"
      data-modal-price-close-t
    >
      <svg class="modal-price__button-close-icon" width="18" height="18">
        <use href="./images/sprite.svg#x"></use>
      </svg>
    </button>
    <h2 class="modal-price__heading">Ціна на номер</h2>
    <div class="modal-price__room-selection">
      <p class="modal-price__room-class-type">Трьохмісний номер</p>
      <p class="modal-price__room-class-signature">Категорія номеру</p>
    </div>
    <form class="modal-price__form">
      <div class="modal-room__inputs">
        <div class="modal-price__select-option modal-flex-element-price select">
          <select
            name="day-quantity-double"
            id="day-quantity-double-slct"
            class="modal-room__select-day-qnt"
          >
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <label
            for="day-quantity-double-slct"
            class="modal-price__field-heading"
            >Кількість ночей</label
          >
        </div>
        <div class="modal-room__input-field modal-flex-element-price text">
          <input
            type="text"
            name="day-quantity-double"
            id="day-quantity-double"
            class="modal-price__field-input"
            placeholder="1"
          />
          <label for="day-quantity-double" class="modal-price__field-heading"
            >Кількість ночей</label
          >
        </div>
        <div class="modal-room__input-field modal-flex-element-price">
          <input
            type="text"
            name="day-price-lux"
            id="day-price-lux"
            class="modal-price__field-input"
            value="1000"
          />
          <label for="day-price-lux" class="modal-price__field-heading"
            >грн</label
          >
        </div>
      </div>
      <button
        type="submit"
        class="form-submit-btn modal-desk-btn"
        data-modal-open="Room"
      >
        Забронювати номер
      </button>
    </form>
  </div>
</div>
