// lines
.lines { 
    @media screen and (min-width: $mobile) {
        max-width: 414px;
        margin-left: auto;
        margin-right: auto;
        background-image: 
        linear-gradient(to right, transparent 33.82%,
        rgba(186, 186, 186, 0.4) 33.82% 33.9%,
        transparent 33.9% 66.27%,
        rgba(186, 186, 186, 0.4) 66.27% 66.35%,
        transparent 66.35%);   
    }
    @media screen and (min-width: $tablet) {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        background-image: 
        linear-gradient(to right, transparent 27.15%,
        rgba(186, 186, 186, 0.4) 27.15% 27.23%,
        transparent 27.23% 50.08%,
        rgba(186, 186, 186, 0.4) 50.08% 50.16%,
        transparent 50.16% 73.76%,
        rgba(186, 186, 186, 0.4) 73.76% 73.84%,
        transparent 73.84%);   
    }
    @media screen and (min-width: $desktop) {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
        background-image: 
        linear-gradient(to right, transparent 26.4%,
        rgba(186, 186, 186, 0.4) 26.4% 26.48%,
        transparent 26.48% 50.08%,
        rgba(186, 186, 186, 0.4) 50.08% 50.16%,
        transparent 50.16% 73.76%,
        rgba(186, 186, 186, 0.4) 73.76% 73.84%,
        transparent 73.84%);   
    }
}