@import '~node_modules/modern-normalize/modern-normalize.css';
.button {
  height: 48px;
  min-width: 232px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.button:hover, .button:focus {
  background-color: #ffffff;
}
.button--gray {
  background-color: rgba(0, 0, 0, 0.4);
}
.button--gray:hover, .button--gray:focus {
  color: #c79002;
}
.button--black {
  background-color: #000000;
}
.button--black:hover, .button--black:focus {
  border-color: #f3c653;
}

.booking-room-btn {
  height: 64px;
  min-width: 384px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.booking-room-btn:hover, .booking-room-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
@media screen and (min-width: 1024px) {
  .booking-room-btn {
    min-width: 434px;
    font-size: 24px;
  }
}

.modal-desk-btn {
  height: 64px;
  min-width: 384px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.modal-desk-btn:hover, .modal-desk-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
.modal-desk-btn:hover, .modal-desk-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
@media screen and (min-width: 1024px) {
  .modal-desk-btn {
    min-width: 592px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding: 0;
  margin: -1px;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding: 0 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 85px;
  }
}

/* Film P3 - 400 */
@font-face {
  font-family: "Film P3";
  src: url("../fonts/FilmP3Bold.eot");
  src: local("Film P3 Bold"), local("Film-P3-Bold"), url("../fonts/FilmP3Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FilmP3Bold.woff2") format("woff2"), url("../fonts/FilmP3Bold.woff") format("woff"), url("../fonts/FilmP3Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Times New Roman - 400 */
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd.eot");
  src: local("Times New Roman Regular"), local("Times-New-Roman-Regular"), url("../fonts/TimesNewRomanMTStd.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanMTStd.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd.woff") format("woff"), url("../fonts/TimesNewRomanMTStd.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* Times New Roman - 700 */
@font-face {
  font-family: "Times New Roman";
  src: url("../fonts/TimesNewRomanMTStd-Bold.eot");
  src: local("Times New Roman Bold"), local("Times-New-Roman-Bold"), url("../fonts/TimesNewRomanMTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TimesNewRomanMTStd-Bold.woff2") format("woff2"), url("../fonts/TimesNewRomanMTStd-Bold.woff") format("woff"), url("../fonts/TimesNewRomanMTStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Semi Bold"), local("Montserrat-Semi-Bold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.button {
  height: 48px;
  min-width: 232px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  border: 2px solid #ffffff;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.button:hover, .button:focus {
  background-color: #ffffff;
}
.button--gray {
  background-color: rgba(0, 0, 0, 0.4);
}
.button--gray:hover, .button--gray:focus {
  color: #c79002;
}
.button--black {
  background-color: #000000;
}
.button--black:hover, .button--black:focus {
  border-color: #f3c653;
}

.booking-room-btn {
  height: 64px;
  min-width: 384px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.booking-room-btn:hover, .booking-room-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
@media screen and (min-width: 1024px) {
  .booking-room-btn {
    min-width: 434px;
    font-size: 24px;
  }
}

.modal-desk-btn {
  height: 64px;
  min-width: 384px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;
  transition: background-color 250ms linear, border-color 250ms linear, color 250ms linear;
}
.modal-desk-btn:hover, .modal-desk-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
.modal-desk-btn:hover, .modal-desk-btn:focus {
  color: #000000;
  background-color: #f3c653;
  border-color: F3C653;
}
@media screen and (min-width: 1024px) {
  .modal-desk-btn {
    min-width: 592px;
  }
}

.header {
  position: relative;
}
.header__wrap {
  width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;
  max-width: 384px;
  position: absolute;
  top: 16px;
  left: 15px;
  display: flex;
  align-items: center;
  z-index: 12;
}
@media screen and (min-width: 1024px) {
  .header__wrap {
    max-width: 930px;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrap {
    max-width: 1110px;
  }
}
@media screen and (min-width: 1024px) {
  .header__wrap {
    left: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrap {
    left: 85px;
  }
}
.header__social {
  margin-left: 60px;
}
@media screen and (max-width: 1279px) {
  .header__social {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.nav__list {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 350px) {
  .nav__list {
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.nav__item {
  display: flex;
}
@media screen and (max-width: 380px) {
  .nav__item {
    margin-left: 20px;
  }
}
.nav__item:last-of-type {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .nav__item:last-of-type {
    margin-left: 72px;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #f3c653;
  transition: color 250ms linear;
}
@media screen and (min-width: 1024px) {
  .nav__link {
    margin-right: 32px;
    padding-top: 6px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .nav__link {
    font-size: 20px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #c79002;
}
.nav__wrap {
  display: flex;
}
@media screen and (min-width: 1024px) {
  .nav__wrap {
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
.nav__tel {
  padding: 7px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #ffffff;
  transition: color 250ms linear;
}
.nav__tel:hover, .nav__tel:focus {
  color: #c79002;
}
.nav__tel:hover > .nav__icon, .nav__tel:focus > .nav__icon {
  fill: #c79002;
}
.nav__icon {
  fill: #f3c653;
  transition: fill 250ms linear;
}
@media screen and (max-width: 1023px) {
  .nav__hidden {
    display: none;
  }
}

.logo {
  font-family: "Film P3", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 400px) {
  .logo {
    letter-spacing: 0.2em;
  }
}
@media screen and (max-width: 370px) {
  .logo {
    letter-spacing: 0.1em;
  }
}

.header__logo {
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
  }
}

.hero__logo {
  margin-bottom: 24px;
  text-align: center;
  font-size: 96px;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__logo {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    font-size: 128px;
  }
}
.hero__logo span {
  margin-left: 0.3em;
}
@media screen and (max-width: 370px) {
  .hero__logo span {
    margin-left: 0.1em;
  }
}

.section-homepage__logo {
  font-size: 64px;
  color: #828282;
}
@media screen and (min-width: 1024px) {
  .section-homepage__logo {
    font-size: 40px;
  }
}

.section-all__logo {
  font-size: 64px;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .section-all__logo {
    font-size: 40px;
  }
}

.footer__logo {
  font-size: 40px;
  letter-spacing: 0.3em;
  color: #F3C653;
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-size: 64px;
  }
}

.hero {
  background-color: #0e0c07;
}
.hero__container {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
  background-color: #474747;
}
@media screen and (min-width: 1024px) {
  .hero__container {
    padding-top: 188px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding-top: 164px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__social {
    display: none;
  }
}
.hero__main {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-mob-2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-tab-1x.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__main {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-main-desk-2x.jpg);
  }
}
.hero__restaurant {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-mob-2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-tab-1x.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__restaurant {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-rest-desk-2x.jpg);
  }
}
.hero__hotel {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-mob-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-mob-2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-tab-1x.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__hotel {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/hero-hotel-desk-2x.jpg);
  }
}
.hero__subtitel {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitel {
    margin-bottom: 56px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitel {
    margin-bottom: 64px;
  }
}
.hero__subtitel--hotel {
  margin-bottom: 190px;
}
@media screen and (min-width: 1024px) {
  .hero__subtitel--hotel {
    margin-bottom: 234px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitel--hotel {
    margin-bottom: 242px;
  }
}
.hero__slogan {
  margin-bottom: 113px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__slogan {
    margin-bottom: 137px;
    font-size: 36px;
  }
}
.hero__wrap {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .hero__wrap {
    flex-direction: column;
  }
}
.hero__button {
  margin: 0 auto 24px;
}
.hero__button + .hero__button {
  margin-bottom: 58px;
}
@media screen and (min-width: 1024px) {
  .hero__button {
    margin-right: 0;
    margin-bottom: 0;
  }
  .hero__button + .hero__button {
    margin-left: 40px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1280px) {
  .hero__button + .hero__button {
    margin-left: 60px;
  }
}

.address {
  display: inline-block;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .address {
    position: absolute;
    top: 105px;
    right: 15px;
  }
}
@media screen and (min-width: 351px) {
  .address {
    top: 64px;
  }
}
.address__link {
  padding: 7px;
  display: flex;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  transition: color 250ms linear;
}
@media screen and (min-width: 1024px) {
  .address__link {
    font-size: 16px;
  }
}
.address__link:hover, .address__link:focus {
  color: #c79002;
}
.address__link:hover > .address__icon, .address__link:focus > .address__icon {
  fill: #c79002;
}
.address__icon {
  margin-right: 8px;
  align-self: center;
  fill: #f3c653;
  transition: fill 250ms linear;
}

.social__list {
  display: flex;
  list-style: none;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .social__list {
    margin-top: 25px;
  }
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: flex;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25;
  color: #f3c653;
}
.social__link:hover > .social__icon, .social__link:focus > .social__icon {
  fill: #c79002;
}
.social__link span {
  display: none;
}

.social__icon {
  fill: #f3c653;
  transition: fill 250ms linear;
}

address {
  font-style: normal;
}

.contacts {
  background-color: #fffdee;
}

.contacts .container {
  max-width: 414px;
  padding: 36px 15px 32px 15px;
}
@media screen and (min-width: 1024px) {
  .contacts .container {
    max-width: 1024px;
    padding: 56px 47px 44px 47px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .container {
    max-width: 1280px;
    padding: 64px 85px 74px 85px;
  }
}

@media screen and (min-width: 1024px) {
  .contacts-home__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts-home__logo {
  margin-bottom: 12px;
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .contacts-home__logo {
    font-size: 64px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-home__logo {
    color: #828282;
    margin-bottom: 16px;
  }
}

.contacts-home__text {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #5f5f5f;
}
@media screen and (min-width: 1024px) {
  .contacts-home__text {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-home__text {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.contacts-home__list {
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list {
    margin-bottom: 0px;
  }
}

.contacts-home__list-item {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item {
    display: block;
  }
}
.contacts-home__list-item:nth-child(-n+2) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:first-child {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:nth-child(2) {
    margin-bottom: 0px;
  }
}
.contacts-home__list-item:first-child .contacts-home__subtitle {
  margin-right: 22px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:first-child .contacts-home__subtitle {
    margin-bottom: 8px;
  }
}
.contacts-home__list-item:nth-child(2) .contacts-home__subtitle {
  margin-right: 54px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:nth-child(2) .contacts-home__subtitle {
    margin-bottom: 8px;
    margin-right: 55px;
  }
}
.contacts-home__list-item:last-child .contacts-home__item-wrap {
  margin-left: 124px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:last-child .contacts-home__item-wrap {
    margin-left: 0;
    margin-top: 48px;
  }
}
.contacts-home__list-item:nth-child(n+2) .contacts-home__item-wrap {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .contacts-home__list-item:nth-child(n+2) .contacts-home__item-wrap {
    width: auto;
  }
}

.contacts-home__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #c79002;
}

.contacts-home__item-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  background: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__item-wrap {
    display: inline-flex;
  }
}
.contacts-home__item-wrap .second-tel {
  margin-left: 10px;
}
.contacts-home__list-item:last-child .contacts-home__item-wrap {
  flex-wrap: nowrap;
}

.contacts-home__icon {
  fill: #c79002;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.contacts-home__tel {
  font-size: 14px;
  line-height: 1.21;
  color: #494848;
  transition: color 250ms linear;
}
@media screen and (min-width: 1024px) {
  .contacts-home__tel {
    color: #828282;
  }
}
.contacts-home__tel:hover, .contacts-home__tel:focus {
  color: #f3c653;
}

.contacts-home__address-link {
  display: inline-block;
  max-width: 183px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
  transition: color 250ms linear;
}
@media screen and (min-width: 1024px) {
  .contacts-home__address-link {
    max-width: 233px;
  }
}
@media screen and (min-width: 1024px) {
  .contacts-home__address-link {
    color: #828282;
  }
}
.contacts-home__address-link:hover, .contacts-home__address-link:focus {
  color: #f3c653;
}

.contacts-home__map {
  width: 100%;
  height: 220px;
  background: #000000;
  border: 1px solid #bababa;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .contacts-home__map {
    width: 535px;
    height: 412px;
    background: #939393;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-home__map {
    width: 634px;
    height: 412px;
    background: #939393;
  }
}

.restaurant-details {
  width: 100%;
  background-color: rgb(255, 253, 238);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .restaurant-details {
    text-align: right;
    padding-top: 58px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .restaurant-details {
    padding-bottom: 60px;
  }
}

.menu-restaurant__title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  color: rgb(0, 0, 0);
  text-align: left;
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .menu-restaurant__title {
    padding-bottom: 24px;
  }
}

.menu-restaurant__dish {
  display: block;
}
@media screen and (min-width: 1024px) {
  .menu-restaurant__dish {
    display: flex;
    gap: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-restaurant__dish {
    display: flex;
    gap: 142px;
  }
}

.menu-restaurant__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.menu-restaurant__caption {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 16px 0px;
}
@media screen and (min-width: 1024px) {
  .menu-restaurant__caption {
    padding: 20px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-restaurant__caption {
    font-size: 24px;
  }
}

.menu-restaurant__name {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  width: 60%;
  text-align: left;
  padding-bottom: 4px;
}
@media screen and (min-width: 1280px) {
  .menu-restaurant__name {
    font-size: 16px;
  }
}

.menu-restaurant__products {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__weight {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 8px;
}

.menu-restaurant__price {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  text-align: right;
  padding-bottom: 8px;
}
@media screen and (min-width: 1280px) {
  .menu-restaurant__price {
    font-size: 16px;
  }
}

.menu-restaurant__dessert {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__drink {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgb(0, 0, 0);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__lastline {
  padding-bottom: 0px;
}

.menu-restaurant__button {
  background-color: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  padding: 15px 25px;
  margin-top: 32px;
  min-width: 232px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, border 250ms linear, color 250ms linear;
}
@media screen and (min-width: 1024px) {
  .menu-restaurant__button {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .menu-restaurant__button {
    margin-top: 40px;
  }
}

.menu-restaurant__button:hover,
.menu-restaurant__button:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
  color: #f3c653;
}

.adult-third {
  background-color: #f0ecd6;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: right;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .adult-third {
    padding-top: 66px;
    padding-bottom: 104px;
  }
}
.adult-third__subtitle {
  margin-bottom: 8px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #b4b4b4;
}
@media screen and (min-width: 1024px) {
  .adult-third__subtitle {
    font-size: 32px;
  }
}

.adult-third__logo {
  font-size: 40px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #494848;
}
@media screen and (min-width: 1024px) {
  .adult-third__logo {
    font-size: 64px;
  }
}
.adult-third__logo span {
  letter-spacing: 0;
}

.adult-third__title {
  font-family: "Times New Roman";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  margin-top: 32px;
  margin-bottom: 12px;
}
@media screen and (min-width: 1024px) {
  .adult-third__title {
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 62px;
  }
}
@media screen and (min-width: 1280px) {
  .adult-third__title {
    font-size: 36px;
    margin-bottom: 24px;
    margin-top: 72px;
  }
}

.adult-third__wrap {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .adult-third__wrap {
    display: flex;
    gap: 45px;
    flex-direction: row-reverse;
    height: 426px;
    margin-bottom: 48px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .adult-third__wrap {
    height: 476px;
    padding-right: 62px;
  }
}

.adult-third__content {
  margin-bottom: 32px;
}
@media screen and (max-width: 1023px) {
  .adult-third__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1024px) {
  .adult-third__content {
    margin-bottom: 169px;
  }
}

.adult-third__inner {
  text-align: left;
}

.adult-third__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #5f5f5f;
  text-align: left;
  width: 242px;
}
@media screen and (min-width: 1024px) {
  .adult-third__text {
    font-size: 16px;
    width: 400px;
    line-height: 20px;
    color: #7a7a7a;
    width: 387px;
  }
}

.adult-third__img {
  width: 244px;
  height: 322px;
  border-radius: 2px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (max-width: 1023px) {
  .adult-third__img {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .adult-third__img {
    width: 400px;
    position: absolute;
    left: 64px;
    right: auto;
    top: -96px;
  }
}
@media screen and (min-width: 1280px) {
  .adult-third__img {
    width: 460px;
    left: 95px;
  }
}

@media screen and (min-width: 1024px) {
  .adult-third__details {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.swiper-container {
  position: relative;
  height: 194px;
}
@media screen and (min-width: 414px) {
  .swiper-container {
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 428px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-container {
    width: 548px;
    height: 254px;
  }
}

.swiper {
  position: absolute;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1023px) {
  .swiper {
    right: -15px;
  }
}

.swiper-wrapper {
  width: 284px;
}
@media screen and (min-width: 1024px) {
  .swiper-wrapper {
    width: 428px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-wrapper {
    width: 548px;
  }
}

.swiper-slide {
  max-width: 194px;
  height: 194px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
@media screen and (min-width: 1280px) {
  .swiper-slide {
    max-width: 254px;
    height: 254px;
  }
}

.adult-third__buttons {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .adult-third__buttons {
    margin-top: 72px;
  }
}

.adult-third__link-more {
  background-color: #000;
}

.adult-third__button {
  background-color: #000;
}

.swiper-arrows {
  position: absolute;
  right: 0;
  display: flex;
  gap: 33px;
  bottom: -44px;
}
@media screen and (min-width: 1024px) {
  .swiper-arrows {
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-arrows {
    bottom: -65px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 32px;
  height: 32px;
}

.swiper-container [class^=swiper-button-]::after {
  content: "";
}

.swiper__icon {
  color: #000;
  width: 100%;
  height: 100%;
  display: block;
}

.hero-amenities {
  margin-top: 32px;
  margin-bottom: 32px;
}

.hero-amenities__title {
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.16;
  color: #000000;
}

.hero-amenities__text {
  max-width: 384px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
@media screen and (min-width: 1024px) {
  .hero-amenities__text {
    max-width: 400px;
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-amenities__text.hero-amenities__text--view {
    min-width: 757px;
    width: 757px;
  }
}

.hero-amenities__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .hero-amenities__column {
    flex-direction: row;
    gap: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-amenities__column {
    gap: 159px;
  }
}

.hero-amenities__list {
  margin-top: 32px;
  margin-bottom: 32px;
}

.hero-amenities__item:not(:last-child) {
  margin-bottom: 32px;
}

.hero-amenities__subtitle {
  margin-bottom: 16px;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.17;
  color: #000000;
}

.hero-amenities__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .hero-amenities__wrapper {
    align-content: flex-end;
    flex-wrap: wrap;
  }
}

.hero-amenities__btn {
  margin-bottom: 20px;
  padding: 20px 42px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #f3c653;
  border-radius: 25px;
  transition: background-color 250ms linear;
  transition: color 250ms linear;
}
.hero-amenities__btn:hover, .hero-amenities__btn:focus {
  background-color: #f3c653;
  color: #000000;
}
@media screen and (min-width: 1024px) {
  .hero-amenities__btn {
    padding: 18px 38px;
    font-size: 24px;
    line-height: 1.21;
  }
}

.hero-amenities__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
  transition: color 250ms linear;
}
.hero-amenities__link:hover, .hero-amenities__link:focus {
  color: #f3c653;
}
@media screen and (min-width: 1024px) {
  .hero-amenities__link {
    font-size: 20px;
    line-height: 1.2;
  }
}

.hero-amenities__arrow {
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

.footer {
  background-color: #0e0c07;
}
.footer__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
}/*# sourceMappingURL=index.css.map */