// Змінні
$white: #FFFFFF;
$fon-lemon: #FFFDEE;
$black: #000000;
$akcent-yellow: #F3C653;
$fon-dark-lemon: #F0ECD6;
$brown: #C79002;
$color-footer: #0E0C07;
$shadow-img: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);