<body>
  <section class="restaurant-details">
    <div class="container">
      <h1 class="menu-restaurant__title">МЕНЮ РЕСТОРАНУ</h1>
      <!-- Гарячі страви -->
      <table class="menu-restaurant__table">
        <caption class="menu-restaurant__caption">
          Гарячі страви
        </caption>
        <tr>
          <td class="menu-restaurant__name">Борщ з телятини з квасолею</td>
          <td rowspan="2" class="menu-restaurant__weight">400 г</td>
          <td rowspan="2" class="menu-restaurant__price">240 грн</td>
        </tr>
        <tr>
          <td class="menu-restaurant__products">
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </td>
        </tr>
        <tr>
          <td>
            <h3>Суп сирний з куркою</h3>
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </td>
          <td>400 г</td>
          <td>200 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Паста карбонара</h3>
            Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
          </td>
          <td>350 г</td>
          <td>430 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Стейк зі свинини</h3>
            Свиняча вирізка, спеції, подається з соусом солодкий чилі та овочами
          </td>
          <td>400 г</td>
          <td>500 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Горбуша в соусі з білого вина</h3>
            Ніжна горбуша, вершковий соус на основі білого вина
          </td>
          <td>400 г</td>
          <td>400 грн</td>
        </tr>
      </table>
      <!-- Гарніри та закуски -->
      <table>
        <caption>
          Гарніри та закуски
        </caption>
        <tr>
          <td>
            <h3>Запечені овочі</h3>
            Кабачок, перець, помідор, баклажан
          </td>
          <td>200 г</td>
          <td>230 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Картопля фрі</h3>
            Картопля, соус томатний
          </td>
          <td>150 г</td>
          <td>160 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Картопля по-селянськи</h3>
            Картопля, спеції, соус пікантний
          </td>
          <td>150 г</td>
          <td>160 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Хрумкі соління з бочки</h3>
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </td>
          <td>250 г</td>
          <td>350 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Крильця курячі в медовому соусі</h3>
            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз
          </td>
          <td>400 г</td>
          <td>420 грн</td>
        </tr>
      </table>
      <!-- Салати -->
      <table>
        <caption>
          Салати
        </caption>
        <tr>
          <td>
            <h3>Цезар з куркою</h3>
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар
          </td>
          <td>230 г</td>
          <td>450 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Цезар з креветками</h3>
            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </td>
          <td>230 г</td>
          <td>300 грн</td>
        </tr>
        <tr>
          <td>
            <h3>Грецький салат</h3>
            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус
          </td>
          <td>230 г</td>
          <td>280 грн</td>
        </tr>
        <tr>
          <td>
            <h3>М’ясний салат</h3>
            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч
          </td>
          <td>230 г</td>
          <td>300 грн</td>
        </tr>
      </table>
      <!-- Десерти  -->
      <table>
        <caption>
          Десерти
        </caption>
        <tr>
          <td>Торт наполеон</td>
          <td>230 г</td>
          <td>300 грн</td>
        </tr>
        <tr>
          <td>Торт маковий</td>
          <td>230 г</td>
          <td>300 грн</td>
        </tr>
        <tr>
          <td>Тірамісу</td>
          <td>230 г</td>
          <td>280 грн</td>
        </tr>
      </table>
      <!-- Напої  -->
      <table>
        <caption>
          Напої
        </caption>
        <tr>
          <td>Чай чорний/зелений</td>
          <td>500 мл</td>
          <td>100 грн</td>
        </tr>
        <tr>
          <td>Еспресо</td>
          <td>30 мл</td>
          <td>100 грн</td>
        </tr>
        <tr>
          <td>Американо</td>
          <td>150 мл</td>
          <td>100 грн</td>
        </tr>
        <tr>
          <td>Капучино</td>
          <td>200 мл</td>
          <td>160 грн</td>
        </tr>
        <tr>
          <td>Лате</td>
          <td>200 мл</td>
          <td>160 грн</td>
        </tr>
      </table>
    </div>
  </section>
</body>
