<section class="restaurant-details">
  <div class="container lines animate__animated animate__slideInUp wow">
    <h1 class="menu-restaurant__title">МЕНЮ РЕСТОРАНУ</h1>
    <div class="menu-restaurant__dish">
      <div>
        <!-- Гарячі страви -->
        <table class="menu-restaurant__table" id="menu-restaurant">
          <caption class="menu-restaurant__caption">
            Гарячі страви
          </caption>
          <tr>
            <td class="menu-restaurant__name">Борщ з телятини з квасолею</td>
            <td rowspan="2" class="menu-restaurant__weight">400 г</td>
            <td rowspan="2" class="menu-restaurant__price">240 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Суп сирний з куркою</td>
            <td rowspan="2" class="menu-restaurant__weight">400 г</td>
            <td rowspan="2" class="menu-restaurant__price">200 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Паста карбонара</td>
            <td rowspan="2" class="menu-restaurant__weight">350 г</td>
            <td rowspan="2" class="menu-restaurant__price">430 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Стейк зі свинини</td>
            <td rowspan="2" class="menu-restaurant__weight">400 г</td>
            <td rowspan="2" class="menu-restaurant__price">500 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Свиняча вирізка, спеції, подається з соусом солодкий чилі та
              овочами
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Горбуша в соусі з білого вина</td>
            <td
              rowspan="2"
              class="menu-restaurant__weight menu-restaurant__lastline"
            >
              400 г
            </td>
            <td
              rowspan="2"
              class="menu-restaurant__price menu-restaurant__lastline"
            >
              400 грн
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__products menu-restaurant__lastline">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
          </tr>
        </table>
        <!-- Гарніри та закуски -->
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Гарніри та закуски
          </caption>
          <tr>
            <td class="menu-restaurant__name">Запечені овочі</td>
            <td rowspan="2" class="menu-restaurant__weight">200 г</td>
            <td rowspan="2" class="menu-restaurant__price">230 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Кабачок, перець, помідор, баклажан
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Картопля фрі</td>
            <td rowspan="2" class="menu-restaurant__weight">150 г</td>
            <td rowspan="2" class="menu-restaurant__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">Картопля, соус томатний</td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Картопля по-селянськи</td>
            <td rowspan="2" class="menu-restaurant__weight">150 г</td>
            <td rowspan="2" class="menu-restaurant__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Картопля, спеції, соус пікантний
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Хрумкі соління з бочки</td>
            <td rowspan="2" class="menu-restaurant__weight">250 г</td>
            <td rowspan="2" class="menu-restaurant__price">350 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">
              Крильця курячі в медовому соусі
            </td>
            <td
              rowspan="2"
              class="menu-restaurant__weight menu-restaurant__lastline"
            >
              400 г
            </td>
            <td
              rowspan="2"
              class="menu-restaurant__price menu-restaurant__lastline"
            >
              420 грн
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__products menu-restaurant__lastline">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
          </tr>
        </table>
      </div>
      <div>
        <!-- Салати -->
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Салати
          </caption>
          <tr>
            <td class="menu-restaurant__name">Цезар з куркою</td>
            <td rowspan="2" class="menu-restaurant__weight">230 г</td>
            <td rowspan="2" class="menu-restaurant__price">450 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Цезар з креветками</td>
            <td rowspan="2" class="menu-restaurant__weight">230 г</td>
            <td rowspan="2" class="menu-restaurant__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">Грецький салат</td>
            <td rowspan="2" class="menu-restaurant__weight">230 г</td>
            <td rowspan="2" class="menu-restaurant__price">280 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__products">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__name">М’ясний салат</td>
            <td
              rowspan="2"
              class="menu-restaurant__weight menu-restaurant__lastline"
            >
              230 г
            </td>
            <td
              rowspan="2"
              class="menu-restaurant__price menu-restaurant__lastline"
            >
              300 грн
            </td>
          </tr>
          <tr>
            <td class="menu-restaurant__products menu-restaurant__lastline">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
          </tr>
        </table>
        <!-- Десерти  -->
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Десерти
          </caption>
          <tr>
            <td class="menu-restaurant__dessert">Торт наполеон</td>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__dessert">Торт маковий</td>
            <td class="menu-restaurant__weight">230 г</td>
            <td class="menu-restaurant__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__dessert menu-restaurant__lastline">
              Тірамісу
            </td>
            <td class="menu-restaurant__weight menu-restaurant__lastline">
              230 г
            </td>
            <td class="menu-restaurant__price menu-restaurant__lastline">
              280 грн
            </td>
          </tr>
        </table>
        <!-- Напої  -->
        <table class="menu-restaurant__table">
          <caption class="menu-restaurant__caption">
            Напої
          </caption>
          <tr>
            <td class="menu-restaurant__drink">Чай чорний/зелений</td>
            <td class="menu-restaurant__weight">500 мл</td>
            <td class="menu-restaurant__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__drink">Еспресо</td>
            <td class="menu-restaurant__weight">30 мл</td>
            <td class="menu-restaurant__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__drink">Американо</td>
            <td class="menu-restaurant__weight">150 мл</td>
            <td class="menu-restaurant__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__drink">Капучино</td>
            <td class="menu-restaurant__weight">200 мл</td>
            <td class="menu-restaurant__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu-restaurant__drink menu-restaurant__lastline">
              Лате
            </td>
            <td class="menu-restaurant__weight menu-restaurant__lastline">
              200 мл
            </td>
            <td class="menu-restaurant__price menu-restaurant__lastline">
              160 грн
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button
      class="menu-restaurant__button animate__animated animate__pulse wow"
      type="button"
      data-modal-open="Table"
      data-wow-iteration="1000"
    >
      Забронювати столик
    </button>
  </div>
</section>
