.hero-amenities-lux {
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero-amenities-lux__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.16;
  color: #000000;
}
.hero-amenities-lux__text {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
