.hero-room-lux {
  background-color: #0e0c07;
  background-image: linear-gradient(to right, #000000a6, #000000a6), url('../images/sections/adult-lux/adult-lux-01-mobile-2x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
  background-image: linear-gradient(to right, #000000a6, #000000a6), url('../images/sections/adult-lux/adult-lux-01-tablet-2x.jpg');
  position: relative;
  }
}

.hero-room {
  display: flex;
  flex-direction: column;

  padding-top: 450px;
  padding-bottom: 20px;

  // @media screen and (min-width: 1024px) {
  //   flex-direction: row;
  //   }
}

.hero-room-lux__title {
  margin-bottom: 14px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.part-title {
  text-transform: uppercase;
}

.wrap-hero-room {
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    }
}

.hero-room-lux__text {
  width: 325px;
  margin-bottom: 41px;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social__list__position {
  display: inline-flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    }
}

.address__pos {
  @media screen and (min-width: 1280px) {
    display: none;
    }
}

.wrap-soc {
  @media screen and (min-width: 1024px) {
    margin-left: 40px;
  
  }
}

.social__item__position:not(:last-child) {
  
  @media screen and (max-width: 1023px) {
    margin-right: 0;
    margin-bottom: 9px;
    margin-top: 0;
    }
}

.room-hero__button {
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1024px) {
    margin-right: 0;
    position: absolute;
    bottom: 64px;
    right: 15px;
    }
  @media screen and (min-width: 1280px) {
    bottom: 66px;
    }
}

.wrap-soc {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1280px) {
    display: none;
    }
}

.wrap-hero-room {
  display: flex;
  align-items: center;
  
}