.hero-room-lux {
  background-color: #0e0c07;
}

.hero-room-lux__con {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 451px;
  padding-bottom: 20px;

  @media screen and (min-width: 1024px) {
    padding-top: 465px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 537px;
    padding-bottom: 48px;
  }
}

.hero-room__bg {
  background-color: #0e0c0783;
  z-index: 2;
  width: 100%;
  height: 143px;
  position: absolute;
  background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0));
  @media screen and (min-width: 1024px) {
    height: 116px;
  }
  @media screen and (min-width: 1280px) {
    height: 147px;
  }
}

// -----------------------------Slides

.hero-room__swiper-button-prev {
  position: absolute;
  left: 13px;
  // z-index: 999;
  @media screen and (min-width: 1023px) {
    left: 47px;
  }
  @media screen and (min-width: 1280px) {
    left: 83px;
  }
  
}

.hero-room__swiper-button-next {
  position: absolute;
  right: 13px;
  @media screen and (min-width: 1023px) {
    right: 47px;
  }
  @media screen and (min-width: 1280px) {
    right: 83px;
  }
  
  z-index: 3;
}

.swiper-button-prev:after {
  content: '';
}

.swiper-button-next:after {
  content: '';
}

.hero-room__arrow-icon {
  fill: #f3c653;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0%, 0%, 0%, 65%);
}

.hero-room__swiper {
  height: 740px;
  width: 100%;
  top: 0;
  right: 0;
  position: absolute;
  @media screen and (min-width: 1024px) {
    height: 720px;
  }
  // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

// .hero-room__swiper-wrapper {
//   // position: absolute;
//   // right: 1px;
//   // width: 414px;
//   // @media screen and (min-width: $tablet) {
//   //   width: 1024px;
//   // }
//   // @media screen and (min-width: $desktop) {
//   //   width: 1280px;
//   // }
// }

// .hero-room__swiper-slide {
//   // min-width: 414px;
//   // @media screen and (min-width: 1024px) {
//   //   min-width: 1064px;
//   // }
//   // @media screen and (min-width: 1280px) {
//   //   min-width: 1331px;
//   // }
// }

// ------------------------------ container

.hero-room {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 450px;
  padding-bottom: 20px;
  @media screen and (min-width: 1024px) {
    padding-top: 493px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 566px;
    padding-bottom: 48px;
  }
}

// ------------------------------- title
.hero-room-lux__title {
  display: inline;
  margin-bottom: 14px;
  z-index: 1;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
  @media screen and (min-width: 1024px) {
    font-size: 36px;
    line-height: calc(41 / 36);
  }
}

.part-title {
  display: inline;
  text-transform: uppercase;
}

// -------------------------------- text
.hero-room-lux__text {
  width: 325px;
  margin-bottom: 41px;
  z-index: 1;

  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #ffffff;
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: calc(20 / 16);
    width: 400px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
    
  }
}

// ---------------------------------
.wrap-hero-room {
  display: flex;
  align-items: center;
  z-index: 2;
  // @media screen and (min-width: 1024px) {
  //   display: flex;
  //   align-items: center;
  //   }
}

// ---------------------------------- social
.social__list__position {
  display: inline-flex;
  flex-direction: column;
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
}

.wrap-soc {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1024px) {
    margin-left: 40px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.social__item__position:not(:last-child) {
  @media screen and (max-width: 1023px) {
    margin-right: 0;
    margin-bottom: 9px;
    margin-top: 0;
  }
}

// ---------------------------------- address
.address__pos {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

// ---------------------------------- button
.room-hero__button {
  
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 1024px) {
    margin-right: 0;
    position: absolute;
    bottom: 66px;
    right: 47px;
  }
  @media screen and (min-width: 1280px) {
    right: 83px;
  }
}
