.hero-room-third {
  background-color: #0e0c07;
}

.hero-room-third__con {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 483px;
  padding-bottom: 20px;

  @media screen and (min-width: 1024px) {
    padding-top: 465px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 537px;
    padding-bottom: 48px;
  }
}
