.hero-room-lux {
  background-color: #0e0c07;
  background-image: linear-gradient(to right, #000000a6, #000000a6), url('../images/sections/adult-lux/adult-lux-01-mobile.jpg');
  height: 740px;
}

// .wrap-address {
//   // position: absolute;
//   // right: 0;
//   // top: 0;
// }

.hero-room {
  display: flex;
  flex-direction: column;

  padding-top: 450px;
  padding-bottom: 20px;
}

.hero-room-lux__title {
  margin-bottom: 14px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
}

.part-title {
  text-transform: uppercase;
}

.hero-room-lux__text {
  width: 325px;
  margin-bottom: 41px;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.social__list__position {
  display: inline-flex;
  flex-direction: column;
}

.social__item__position {
  margin-right: 0;
}

.social__item__position:not(:last-child) {
  margin-right: 0;
  margin-bottom: 9px;
}

.room-hero__button {
  margin-right: auto;
  margin-left: auto;
}

.wrap-soc {
  display: flex;
  align-items: center;
}
