.restaurant-about {
    background: #FFFDEE;
    padding-top: 16px;
    padding-bottom: 20px;
    @media screen and (min-width:1024px) {
        padding-top: 120px;
        padding-bottom: 32px;
        
    }
    @media screen and (min-width:1280px) {
        padding-bottom: 50px;
    }
}
.restaurant-about__container {
    position: relative;
  
}
.restaurant-about__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    margin-bottom: 12px;
@media screen and (min-width:1024px) {
    font-size: 32px;
    margin-bottom: 4px;
}
}
.restaurant-about__logo {
    color: #494848;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    @media screen and (min-width:1024px) {
        font-size: 64px;
        margin-bottom: 24px;
    }
}
.restaurant-about__items{
    margin-bottom: 32px;
    @media screen and (min-width:1024px) {
        margin-bottom: 0px;  
    }
    @media screen and (min-width:1280px) {
        margin-bottom: 0px;
    }
}
.restaurant-about__card:last-child {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 382px;
    
    @media screen and (min-width:1024px) {
        margin-top: 142px;
        gap: 48px;
    }
    @media screen and (min-width:1280px) {
        margin-top: 162px;
        gap: 32px;
    }
}
.restaurant-about__text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;  
    @media screen and (min-width:1024px) {
        font-size: 16px;
    }
}
.restaurant-about__text:first-child {
    display: inline-block;
    max-width: 258px;
    @media screen and (min-width:1024px) {
        max-width: 439px;
    }
    @media screen and (min-width:1280px) {
        max-width: 518px;
    }
}
.restaurant-about__text:last-child{
    max-width: 163px;
    color: #C79002;
    max-width: 163px;
    @media screen and (min-width:1024px) {
        max-width: 312px;
    }
}
.restaurant-about__img {  
    display: inline-block;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.restaurant-about__wrap{
    position: absolute;
    top: 194px;
    right: 15px;
    @media screen and (min-width:1024px) {
        top: -153px;
        right: 112px;
    }
}
.img-thumb{
    margin: 0;
    max-width: 100%;
    @media screen and (min-width:1024px) {
        height: auto;
    }
}

.swiper-container {
    position: relative;
    height: 194px;
    // max-width: 284px;
    @media screen and (min-width: $mobile) {
      // width: 284px;
      width: auto;
    }
    @media screen and (min-width: $tablet) {
      width: 420px;
    }
  }​
.swiper {
    // max-width: 284px;
    // padding: 60px 0;
    position: absolute;
    @media screen and (max-width: 1023px) {
      right: -15px;
    }
    // overflow: visible;
    // width: 404px;
    // height: 120%;
    // position: relative;
    // position: absolute;

    // height: 300px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
.swiper-wrapper {
    // height: 448px;
    // display: flex;
    // align-items: center;
    width: 284px;
    @media screen and (min-width: $tablet) {
      width: 428px;
    }
    // padding: 32px 0 60px 0;
    // box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  }
.swiper-slide {
    // min-width: 194px;
    max-width: 194px;
    height: 194px;
    background-color: #dadada;
    // background-image: url(../images/sliders/adult-two-slider/adult-two-slider-01.jpg);
    // @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: url(../images/sliders/adult-two-slider/adult-two-slider-01.jpg);
    //   }

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    // background-size: cover;
    // background-repeat: no-repeat;
    // @media screen and(min-width: $mobile) {
    //   background-image: url(../images/sliders/adult-two-slider/adult-two-slider-01.jpg);
    //   @media (min-device-pixel-ratio: 2),
    //     (min-resolution: 192dpi),
    //     (min-resolution: 2dppx) {
    //     background-image: url(../images/sliders/adult-two-slider/adult-two-slider-01-2x.jpg);
    //   }
    // }
  }
  // .swiper-slide div:nth-child(1) {
  //   background-image: url(../images/sections/adult-third/adult-third-01.jpg);
  // }

.adult-third__buttons {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media screen and (max-width: 1023px) {
      margin-top: 72px;
      // margin-top: 220px;
    }
  }
  .adult-third__link-more {
    background-color: #000;
  }
  .adult-third__button {
    background-color: #000;
  }
  .swiper-arrows {
    position: absolute;
    right: 0;
    @media screen and (min-width: $tablet) {
      left: 0;
    }
    display: flex;
    gap: 33px;
    bottom: -44px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 32px;
    height: 32px;
  }
  .swiper-button-next {
  }
  .swiper-button-prev {
  }
  .swiper-container [class^='swiper-button-']::after {
    content: '';
  }
  .swiper__icon {
    color: #000;
    width: 100%;
    height: 100%;
    display: block;
  }