<section class="restaurant-about">
    <div class="restaurant-about__container container lines">
      <h2 class="visually-hidden">About our restaurant</h2>
        <p class="restaurant-about__tille">Amet minim mollit non</p>
        <p class="restaurant-about__logo logo">MIMIHO</p>
        <ul class="restaurant-about__items">
            <li class="restaurant-about__card">
                <p class="restaurant-about__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.   
                </p>
                <div class="restaurant-about__wrap animate__animated animate__bounceInRight wow">
                    <picture class="restaurant-about__img ">
                        <!-- desktop -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-01.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-01-2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                        />
                        <!-- tablet -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-01-tablet.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-01-tablet-2x.jpg 2x"
                        media="(min-width: 1024px)"
                        />
                        <!-- mobile -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-01-mobile.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-01-mobile-2x.jpg 2x"
                        media="(min-width: 414px)"
                        />
                        <img class="img-thumb"
                        src="
                        ./images/sections/about-restaurant/about-restaurant-01.jpg"
                        alt="інтер'єр ресторану"
                        width="244"
                        height="322"
                        />
                    </picture>
                </div>
            </li>
            <li class="restaurant-about__card animate__animated animate__bounceInLeft wow">
                    <picture class="restaurant-about__img">
                        <!-- desktop -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-02.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-02-2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                        />
                        <!-- tablet -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-02-tablet.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-02-tablet-2x.jpg 2x"
                        media="(min-width: 1024px)"
                        />
                        <!-- mobile -->
                        <source
                        srcset="
                        ./images/sections/about-restaurant/about-restaurant-02-mobile.jpg 1x,
                        ./images/sections/about-restaurant/about-restaurant-02-mobile-2x.jpg 2x"
                        media="(width: 414px)"
                        />
                        <img class="img-thumb"
                        src="
                        ./images/sections/about-restaurant/about-restaurant-02.jpg"
                        alt="інтер'єр ресторану"
                        width="200"
                        height="278"
                        />
                    </picture>
                    <p class="restaurant-about__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
            </li>
        </ul>
        <div class="swiper-container restaurant__swiper-container animate__animated animate__backInRight wow" data-wow-delay="0.5s">
            <div class="swiper restaurant__swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper restaurant__wrap">
                <!-- Slides -->
                <div class="swiper-slide restaurant__slide">
                  <picture>
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-tablet.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-tablet-2x.jpg 2x
                      "
                      sizes="(width: 194px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile-2x.jpg 2x
                      "
                      sizes="(width: 245px)"
                      media="(min-width: 414px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-01.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-2x.jpg 2x
                      "
                      sizes="(width: 254px)"
                      media="(min-width: 1280px)"
                      type="image/jpeg"
                    />
                    <img class="restaurant__slide-shadow"
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-01-mobile-2x.jpg 2x
                      "
                      alt="restaurant"
                    />
                  </picture>
                </div>
                <div class="swiper-slide restaurant__slide">
                  <picture>
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-tablet.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-tablet-2x.jpg 2x
                      "
                      sizes="(width: 194px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile-2x.jpg 2x
                      "
                      sizes="(width: 245px)"
                      media="(min-width: 414px)"
                      type="image/jpeg"
                    />
                    <source
                    srcset="
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-02.jpg    1x,
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-2x.jpg 2x
                    "
                    sizes="(width: 254px)"
                    media="(min-width: 1280px)"
                    type="image/jpeg"
                  />
                    <img  class="restaurant__slide-shadow"
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-02-mobile-2x.jpg 2x
                      "
                      alt="restaurant"
                    />
                  </picture>
                </div>
                <div class="swiper-slide restaurant__slide">
                  <picture>
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-tablet.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-tablet-2x.jpg 2x
                      "
                      sizes="(width: 194px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile-2x.jpg 2x
                      "
                      sizes="(width: 245px)"
                      media="(min-width: 414px)"
                      type="image/jpeg"
                    />
                    <source
                    srcset="
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-03.jpg    1x,
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-2x.jpg 2x
                    "
                    sizes="(width: 254px)"
                    media="(min-width: 1280px)"
                    type="image/jpeg"
                  />
                    <img class="restaurant__slide-shadow"
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-03-mobile-2x.jpg 2x
                      "
                      alt="restaurant"
                    />
                  </picture>
                </div>
                <div class="swiper-slide restaurant__slide">
                  <picture>
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-tablet.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-tablet-2x.jpg 2x
                      "
                      sizes="(width: 194px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile-2x.jpg 2x
                      "
                      sizes="(width: 245px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                    srcset="
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-04.jpg    1x,
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-2x.jpg 2x
                    "
                    sizes="(width: 254px)"
                    media="(min-width: 1280px)"
                    type="image/jpeg"
                  />
                    <img class="restaurant__slide-shadow"
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-04-mobile-2x.jpg 2x
                      "
                      alt="restaurant"
                    />
                  </picture>
                </div>
                <div class="swiper-slide restaurant__slide">
                  <picture>
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-tablet.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-tablet-2x.jpg 2x
                      "
                      sizes="(width: 194px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile-2x.jpg 2x
                      "
                      sizes="(width: 245px)"
                      media="(min-width: 1024px)"
                      type="image/jpeg"
                    />
                    <source
                    srcset="
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-05.jpg    1x,
                      ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-2x.jpg 2x
                    "
                    sizes="(width: 254px)"
                    media="(min-width: 1280px)"
                    type="image/jpeg"
                  />
                    <img class="restaurant__slide-shadow"
                      srcset="
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile.jpg    1x,
                        ./images/sliders/about-restaurant-slider/about-restaurant-slider-05-mobile-2x.jpg 2x
                      "
                      alt="restaurant"
                    />
                  </picture>
                </div>
              </div>
              <!-- <div class="swiper-layer"></div> -->
            </div>
            <div class="restaurant__swiper-arrows">
              <div class="swiper-button-prev restaurant__button-prev">
                <svg class="restaurant__swiper-icon">
                  <use href="./images/sprite.svg#arrow-left"></use>
                </svg>
              </div>
              <div class="swiper-button-next restaurant__button-next">
                <svg class="restaurant__swiper-icon">
                  <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
              </div>
            </div>
        </div>       
    </div>
   </section>
