<section class="section__about-hotel">
  <div class="about-hotel">
    <div class="container">
      <h2 class="visually-hidden">About hotel</h2>
      <div class="about-hotel__wrap">
        <div class="about-hotel__wrapper">
          <p class="about-hotel__title">Amet minim mollit non</p>
          <p class="about-hotel__logo">MIMINO</p>
          <p class="about-hotel__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.Velit officia consequat duis enim velit mollit.Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>

        <picture class="about-hotel__picture1">
          <source
            srcset="
              ./images/sections/about-hotel/about-hotel-01.jpg    1x,
              ./images/sections/about-hotel/about-hotel-01-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/about-hotel/about-hotel-01-tablet.jpg    1x,
              ./images/sections/about-hotel/about-hotel-01-tablet-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/about-hotel/about-hotel-01-mobile.jpg    1x,
              ./images/sections/about-hotel/about-hotel-01-mobile-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            src="./images/sections/about-hotel/about-hotel-01.jpg"
            alt="Зображення готельного номеру"
            class="about-hotel__picture"
          />
        </picture>
      </div>
      <div class="about-hotel__description">
        <p class="about-hotel__second-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <div class="hotel-image__thumb">
          <picture>
            <source
              srcset="
                ./images/sections/about-hotel/about-hotel-02.jpg    1x,
                ./images/sections/about-hotel/about-hotel-02-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sections/about-hotel/about-hotel-02-tablet.jpg    1x,
                ./images/sections/about-hotel/about-hotel-02-tablet-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/sections/about-hotel/about-hotel-02-mobile.jpg    1x,
                ./images/sections/about-hotel/about-hotel-02-mobile-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              src="./images/sections/about-hotel/about-hotel-02.jpg"
              alt="Зображення готелю"
              class="about-hotel__picture"
            />
          </picture>
        </div>
      </div>
      <!-- SWIPER -->
      <div class="about-hotel__slider">
        <div class="swiper about-hotel__swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide about-hotel__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile-2x.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-01-mobile-2x.jpg 2x
                  "
                  alt="hotel reception"
                />
              </picture>
            </div>
            <div class="swiper-slide about-hotel__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile-2x.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-02-mobile-2x.jpg 2x
                  "
                  alt="towels"
                />
              </picture>
            </div>
            <div class="swiper-slide about-hotel__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile-2x.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-03-mobile-2x.jpg 2x
                  "
                  alt="hotel room"
                />
              </picture>
            </div>
            <div class="swiper-slide about-hotel__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile-2x.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-04-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>
            <div class="swiper-slide about-hotel__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-tablet.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile-2x.jpg 2x
                  "
                  sizes="(width: 245px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile.jpg    1x,
                    ./images/sliders/about-hotel-slider/about-hotel-slider-05-mobile-2x.jpg 2x
                  "
                  alt="towels with cosmetic"
                />
              </picture>
            </div>
            ...
          </div>

          <!-- navigation buttons -->
        </div>
        <div class="about-hotel__swiper-buttons">
          <div class="swiper-button-prev">
            <svg class="about-hotel__swiper__icon">
              <use href="./images/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="about-hotel__swiper__icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
