<section class="contacts">
  <div class="container lines">
    <h2 class="visually-hidden">Контакти</h2>
    <address class="contacts-home__address">
      <div class="contacts-home__wrap">
        <p class="contacts-home__logo">mimiho</p>
        <p class="contacts-home__text">Ресторанно-готельний комплекс</p>
        <ul class="contacts-home__list">
          <li class="contacts-home__list-item">
            <p class="contacts-home__subtitle">Ресторан</p>
            <div class="contacts-home__item-wrap">
              <svg class="contacts-home__icon">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
              <a href="tel:0955559533" class="contacts-home__tel"
                >095 555 95 33</a
              >
            </div>
          </li>
          <li class="contacts-home__list-item">
            <p class="contacts-home__subtitle">Готель</p>
            <div class="contacts-home__item-wrap">
              <svg class="contacts-home__icon">
                <use href="./images/sprite.svg#phone"></use>
              </svg>
              <a href="tel:0668491089" class="contacts-home__tel"
                >066 849 10 89</a
              >
              <a href="tel:0672758540" class="contacts-home__tel second-tel"
                >067 275 85 40</a
              >
            </div>
          </li>
          <li class="contacts-home__list-item">
            <p class="visually-hidden">Адреса</p>
            <div class="contacts-home__item-wrap">
              <div>
                <svg class="contacts-home__icon">
                  <use href="./images/sprite.svg#map"></use>
                </svg>
              </div>

              <a
                href="https://goo.gl/maps/za55LimHpfVu35ZL7"
                target="_blank"
                rel="nofollow noreferrer noopener"
                class="contacts-home__address-link"
                >Україна, м. Полтава, <br class="contacts-home__br"> вул. Маршала Бірюзова, 15</a
              >
            </div>
          </li>
        </ul>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2431.0373602243485!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670664316825!5m2!1sru!2sua"
        class="contacts-home__map animate__animated animate__backInUp wow "
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        data-wow-delay="1s"
      ></iframe>
    </address>
  </div>
</section>
