<section class="restaurant-details">
  <div class="container">
    <p class="logo restaurant-details__logo">MIMIHO</p>
    <h2 class="restaurant-details__title">Ресторан</h2>
    <p class="restaurant-details__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="restaurant-details__btn">
      <button class="restaurant-details__modal-open" type="button">
        Забронювати столик
      </button>
      <a class="restaurant-details__menu-open" href="#">Переглянути меню</a>
    </div>
  </div>
</section>
