<section class="hotel-details">
  <div class="container">
    <div class="hotel-details__text-wrap">
      <p class="hotel-details__logo">mimiho</p>
      <h2 class="hotel-details__title">Готель</h2>
    </div>
    <p class="hotel-details__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="hotel-details__wrap">
      <div class="hotel-details__slider"></div>
      <ul class="hotel-details__list">
        <li class="hotel-details__item">
          <button type="button" class="hotel-details__btn">
            Забронювати номер
          </button>
        </li>
        <li class="hotel-details__item">
          <button type="button" class="hotel-details__btn">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
