<section class="hotel-details">
  <div class="container">
    <div class="hotel-details__text-wrap">
      <p class="hotel-details__logo">mimiho</p>
      <h2 class="hotel-details__title">Готель</h2>
      <p class="hotel-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>

    <div class="hotel-details__wrap">
      <div class="hotel-details__slider">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                src="./images/sliders/details-hotel-slider/details-hotel-slider-01.jpg"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/sliders/details-hotel-slider/details-hotel-slider-02.jpg"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/sliders/details-hotel-slider/details-hotel-slider-03.jpg"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="hotel-details__slider-btn">
          <div class="hotel-button-prev">
            <svg class="icon">
              <use href="./images/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="hotel-button-next">
            <svg class="icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <ul class="hotel-details__list">
        <li class="hotel-details__item">
          <button type="button" class="hotel-details__btn" data-room>
            Забронювати номер
          </button>
        </li>
        <li class="hotel-details__item">
          <button type="button" class="hotel-details__btn" data-price>
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
