<section class="hotel-details">
  <div class="container hotel-details__container">
    <div class="hotel-details__group">
      <p class="logo hotel-details__logo">
        MIMIH<span class="hotel-details__logo-o">O</span>
      </p>
      <h2 class="hotel-details__title">Готель</h2>
      <p class="hotel-details__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <!-------swiper-js------------------------------->
    <div class="swiper-container hotel-details__swiper-container animate__animated animate__backInLeft wow" data-wow-delay="0.5s">
      <!-- wiper foto -->
      <div class="swiper hotel-details__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide hotel-details__swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-tablet-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-01-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slim-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-tablet-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-slim-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-02-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-03-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-tablet-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-04-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-04-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-04-mobile.jpg              1x,
                  /src/images/sliders/details-restaurant-slider/details-restaurant-slider-04-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slim-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-tablet-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-slim-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-05-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>

          <div class="swiper-slide hotel-details__swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-tablet.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-tablet-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1024px)"
                type="image/jpeg"
              />
              <source
                srset="/src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile.jpg 1x, 
            /src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile-2x.jpg 2x"
                sizes="(width: 270px)"
                media="( min-width: 414px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-2x.jpg 2x
                "
                sizes="(width: 270px)"
                media="( min-width: 1280px)"
                type="image/jpeg"
              />
              <img
                class="hotel-details__swiper-img"
                srcset="
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile.jpg    1x,
                  /src/images/sliders/details-hotel-slider/details-hotel-slider-06-mobile-2x.jpg 2x
                "
                alt="food"
              />
            </picture>
          </div>
        </div>

        <!--------------- Button js -------------->
      </div>
    </div>
    <div class="swiper-arrows hotel-details__swiper-arrows">
      <div class="hotel-details__swiper-button-prev">
        <svg class="hotel-details__swiper__icon">
          <use href="./images/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="hotel-details__swiper-button-next">
        <svg class="hotel-details__swiper__icon">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
    <!------------ buttun --------------->
    <div class="hotel-details__btn">
      <button
        type="button"
        class="hotel-details__modal-open"
        data-modal-open="Room"
      >
        Забронювати номер
      </button>
      <button
        type="button"
        class="hotel-details__menu-open"
        data-modal-open="Room-lux"
      >
      Переглянути ціни
      </button>
    </div>
  </div>
</section>
