<div class="container">
  <div>
    <a class="logo footer__logo" href="">MIMIHO</a>
    <ul>
      <li><a href="">Головна</a></li>
      <li><a href="">Ресторан</a></li>
      <li><a href="">Готель</a></li>
    </ul>
  </div>
  <div class="footer__socials">
    <ul>
      <li>
        <a href="">
          <span>Telegram</span>
          <!-- <svg>
            <use></use>
          </svg> -->
        </a>
      </li>
      <li>
        <a href="">
          <span>Facebook</span>
          <!-- <svg>
            <use></use>
          </svg> -->
        </a>
      </li>
      <li>
        <a href="">
          <span>Instagram</span>
          <!-- <svg>
            <use></use>
          </svg> -->
        </a>
      </li>
    </ul>
  </div>
</div>
