<h1 class="visually-hidden">Міміно</h1>
<p class="logo hero__logo animate__animated animate__fadeInDown wow">
  <span>MIMIHO</span>
</p>
<h2 class="hero__subtitel">Ресторанно-готельний комплекс</h2>
<p class="hero__slogan">Смак життя 24/7</p>
<div class="hero__wrap">
  <address class="address">
    <a
      class="address__link"
      href="https://goo.gl/maps/Pnjo7kjwatkfAMe19"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="address__icon" width="24" height="24">
        <use href="./images/sprite.svg#map"></use>
      </svg>
      <span class="address__value"
        >Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</span
      ></a
    >
  </address>
  <button
    class="button button--gray hero__button animate__animated animate__bounce"
    type="button"
    data-modal-open="Table"
  >
    Забронювати столик
  </button>
  <button
    class="button button--gray hero__button animate__animated animate__bounce"
    type="button"
    data-modal-open="Room"
  >
    Забронювати номер
  </button>
</div>
