<section class="adult-lux">
  <div class="container container-adult lines">
    <div class="box-adult">
      <div class="box-content">
        <p class="slogan">Amet minim mollit non</p>
        <p class="logo adult-logo">MIMIHO</p>
        <h2 class="adult-lux__title">
          ДВОМІСНИЙ НОМЕР <span class="adult-lux__word">люкс</span>
        </h2>
        <p class="adult-lux__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="img-room animate__animated animate__bounceInRight wow">
        <picture class="img-adult">
          <source
            srcset="
              ./images/sections/adult-lux/adult-lux-title-1x.jpg 1x,
              ./images/sections/adult-lux/adult-lux-title-2x.jpg 2x
            "
            sizes="(width: 460px)"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/adult-lux-title-tablet-1x.jpg 1x,
              ./images/sections/adult-lux/adult-lux-title-tablet-2x.jpg 2x
            "
            sizes="(width: 400px)"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-lux/adult-lux-title-mobile-1x.jpg 1x,
              ./images/sections/adult-lux/adult-lux-title-mobile-2x.jpg 2x
            "
            sizes="(width: 244px)"
            media="(min-width: 414px)"
          />
          <img
            srcset="
              ./images/sections/adult-lux/adult-lux-title-mobile-1x.jpg 1x"
            alt="Вид кімнати"
          />
        </picture>
      </div>
    </div>
    <div class="adult-lux__details">
      <div class="box-slider animate__animated animate__backInLeft wow">
        <div class="slider" dir="rtl">
          <div class="slider-wrap">
            <div class="slide card">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-room-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-room-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-room-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-room-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 414px)"
                />
                <img
                  class="slider-img"
                  src="./images/sliders/adult-lux-slider/adult-lux-room-tablet-1x.jpg"
                  alt="Вид кімнати"
                  width="194"
                />
              </picture>
            </div>
            <div class="slide card">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg 1x,
                    ./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 414px)"
                />
                <img
                  class="slider-img"
                  src="./images/sliders/adult-lux-slider/adult-lux-bathroom-tablet-1x.jpg"
                  alt="Вид кімнати"
                  width="194"
                />
              </picture>
            </div>
            <div class="slide card">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03-tablet.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03-mobile.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-03-mobile-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 414px)"
                />
                <img
                  class="slider-img"
                  src="./images/sliders/adult-lux-slider/adult-lux-slider-03.jpg"
                  alt="Вид кімнати"
                  width="194"
                />
              </picture>
            </div>
            <div class="slide card">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04-tablet.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04-mobile.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-04-mobile-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 414px)"
                />
                <img
                  class="slider-img"
                  src="./images/sliders/adult-lux-slider/adult-lux-slider-04.jpg"
                  alt="Вид кімнати"
                  width="194"
                />
              </picture>
            </div>
            <div class="slide card">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05-tablet.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05-tablet-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05-mobile.jpg    1x,
                    ./images/sliders/adult-lux-slider/adult-lux-slider-05-mobile-2x.jpg 2x
                  "
                  type="images/jpeg"
                  
                  media="(min-width: 414px)"
                />
                <img
                  class="slider-img"
                  src="./images/sliders/adult-lux-slider/adult-lux-slider-05.jpg"
                  alt="Вид кімнати"
                  width="194"
                />
              </picture>
            </div>
          </div>
        </div>
        <!-- <div class="arrow">
          <svg class="arrow-prev" width="32" height="32">
            <use href="/src/images/sprite.svg#arrow-left"></use>
          </svg>
          <svg class="arrow-next" width="32" height="32">
            <use href="/src/images/sprite.svg#arrow-right"></use>
          </svg>
        </div> -->

        <div class="swiper-arrows adult-lux__swiper-arrows">
          <div class="swiper-button-prev adult-lux__button-prev">
            <svg class="adult-lux__swiper__icon">
              <use href="./images/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next adult-lux__button-next">
            <svg class="adult-lux__swiper__icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="adult-lux__buttons">
        <a
          href="./room-lux.html"
          class="adult-lux__link-more button button--black"
          >Детальніше</a
        >
        <button
          class="adult-lux__button button button--black"
          data-modal-open="Room-triple"
        >
          Преглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
