<section class="adult-lux">
  <div class="container container-adult">
    <h2 class="visually-hidden">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="slogan">Amet minim mollit non</p>
    <p class="logo adult-logo">MIMIHO</p>
    <h3 class="adult-lux__title">
      ДВОМІСНИЙ НОМЕР <span class="adult-lux__word">люкс</span>
    </h3>
    <p class="adult-lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="img-room">
      <picture class="img-adult">
        <source
          srcset="/src/images/sections/adult-lux/1.jpg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="/src/images/sections/adult-lux/1.jpg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="/src/images/sections/adult-lux/1.jpg"
          media="(min-width: 414px)"
        />
        <img
          src="/src/images/sections/adult-lux/1.jpg"
          alt="Вид кімнати"
          width="244"
          height="322"
        />
      </picture>
    </div>
    <div class="slider">
      <div class="img-slider">
        <img
          src="/src/images/sections/adult-lux/2.jpg"
          alt="Вид умивальника"
          width="254"
        />
      </div>
      <div class="img-slider">
        <img
          src="/src/images/sections/adult-lux/3.jpg"
          alt="Вид чашки на підвіконні"
          width="254"
        />
      </div>
      <div class="img-slider">
        <img
          src="/src/images/sections/adult-lux/3.jpg"
          alt="Вид чашки на підвіконні"
          width="254"
        />
      </div>
      <div class="img-slider">
        <img
          src="/src/images/sections/adult-lux/3.jpg"
          alt="Вид чашки на підвіконні"
          width="254"
        />
      </div>
      <div class="img-slider">
        <img
          src="/src/images/sections/adult-lux/3.jpg"
          alt="Вид чашки на підвіконні"
          width="254"
        />
      </div>
    </div>
    <div class="icon-arrow">
      <button type="button" class="arrow-left">
        <svg class="arrow" width="32" height="32">
          <use href="/src/images/sprite.svg#carrow-left"></use>
        </svg>
      </button>
      <button type="button" class="arrow-right">
        <svg class="arrow" width="32" height="32">
          <use href="/src/images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="btn-adult">
      <button type="button" class="details-btn">Детальніше</button>
      <button type="button" class="price-btn">Переглянути ціни</button>
    </div>
  </div>
</section>
