<section class="adult-third">
  <div class="container lines">
    <div class="adult-third__wrap">
      <div class="adult-third__content">
        <p class="adult-third__subtitle">Amet minim mollit non</p>
        <p class="logo adult-third__logo">MIMIH<span>O</span></p>
        <div class="adult-third__inner">
          <h2 class="adult-third__title">ТРЬОХМІСНИЙ НОМЕР</h2>
          <p class="adult-third__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <div class="adult-third__img animate__animated animate__bounceInLeft wow">
        <picture>
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01.jpg    1x,
              ./images/sections/adult-third/adult-third-01-2x.jpg 2x
            "
            media="(min-width: 1280px)"
            sizes="(width: 460px)"
          />
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01-tablet.jpg    1x,
              ./images/sections/adult-third/adult-third-01-tablet-2x.jpg 2x
            "
            media="(min-width: 1024px)"
            sizes="(width: 400px)"
          />
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01-mobile.jpg    1x,
              ./images/sections/adult-third/adult-third-01-mobile-2x.jpg 2x
            "
            media="(min-width: 414px)"
            sizes="(width: 244px)"
          />
          <img
            srcset="
              ./images/sections/adult-third/adult-third-01-mobile.jpg    1x,
              ./images/sections/adult-third/adult-third-01-mobile-2x.jpg 2x
            "
            alt=""
          />
        </picture>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="adult-third__details">
      <div
        class="swiper-container adult-third__swiper-container animate__animated animate__backInRight wow"
      >
        <div class="swiper adult-third__swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper adult-third__swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide adult-third__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide adult-third__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide adult-third__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide adult-third__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide adult-third__swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-.jpg   1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />

                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>
          </div>

          <!-- <div class="swiper-layer"></div> -->
        </div>
        <div class="swiper-arrows adult-third__swiper-arrows">
          <div class="swiper-button-prev adult-third__button-prev">
            <svg class="adult-third__swiper__icon">
              <use href="./images/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next adult-third__button-next">
            <svg class="adult-third__swiper__icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="adult-third__buttons">
        <a
          href="./room-third.html"
          class="adult-third__link-more button button--black"
          >Детальніше</a
        >
        <button
          class="adult-third__button button button--black"
          data-modal-open="Room-triple"
        >
          Преглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
