<section class="adult-two">
  <div class="container lines container-adult">
    <div class="box-adult">
      <div class="box-content">
        <p class="slogan">Amet minim mollit non</p>
        <p class="logo adult-logo">MIMIHO</p>
        <h2 class="adult-lux__title">ДВОМІСНИЙ НОМЕР</h2>
        <p class="adult-lux__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="img-room">
        <picture class="img-adult">
          <source
            srcset="
              ./images/sections/adult-two/adult-two-title-1x.jpg 1x,
              ./images/sections/adult-two/adult-two-title-2x.jpg 2x
            "
            sizes="(width: 460px)"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-two/adult-two-title-tablet-1x.jpg 1x,
              ./images/sections/adult-two/adult-two-title-tablet-2x.jpg 2x
            "
            sizes="(width: 400px)"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-two/adult-two-title-mobile-1x.jpg 1x,
              ./images/sections/adult-two/adult-two-title-mobile-2x.jpg 2x
            "
            sizes="(width: 244px)"
            media="(min-width: 414px)"
          />
          <img
            srcset="
              ./images/sections/adult-two/adult-two-title-mobile-1x.jpg 1x,
              ./images/sections/adult-two/adult-two-title-mobile-2x.jpg 2x
            "
            alt="Вид кімнати"
          />
        </picture>
      </div>
    </div>
    <div box-slider>
      <div class="slider-adult-two">
        <div class="slider-wrap">
          <div class="slide card">
            <picture>
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-room-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-room-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 254px)"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-room-tablet-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-room-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-room-tablet-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-room-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 414px)"
              />
              <img
                class="slider-img"
                src="./images/sliders/adult-two-slider/adult-two-room-tablet-1x.jpg"
                alt="Вид кімнати"
                width="194"
              />
            </picture>
          </div>
          <div class="slide card">
            <picture>
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-bathroom-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-bathroom-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 254px)"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-bathroom-tablet-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-bathroom-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-bathroom-tablet-1x.jpg 1x,
                  ./images/sliders/adult-two-slider/adult-two-bathroom-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 414px)"
              />
              <img
                class="slider-img"
                src="./images/sliders/adult-two-slider/adult-two-bathroom-tablet-1x.jpg"
                alt="Вид кімнати"
                width="194"
              />
            </picture>
          </div>
          <div class="slide card">
            <picture>
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-03.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-03-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 254px)"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-03-tablet.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-03-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-03-mobile.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-03-mobile-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 414px)"
              />
              <img
                class="slider-img"
                src="./images/sliders/adult-two-slider/adult-two-slider-03.jpg"
                alt="Вид кімнати"
                width="194"
              />
            </picture>
          </div>
          <div class="slide card">
            <picture>
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-04.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-04-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 254px)"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-04-tablet.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-04-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-04-mobile.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-04-mobile-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 414px)"
              />
              <img
                class="slider-img"
                src="./images/sliders/adult-two-slider/adult-two-slider-04.jpg"
                alt="Вид кімнати"
                width="194"
              />
            </picture>
          </div>
          <div class="slide card">
            <picture>
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-05-.jpg   1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-05-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 254px)"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-05-tablet.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-05-tablet-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/sliders/adult-two-slider/adult-two-slider-05-mobile.jpg    1x,
                  ./images/sliders/adult-two-slider/adult-two-slider-05-mobile-2x.jpg 2x
                "
                type="images/jpeg"
                sizes="(width: 194px)"
                media="(min-width: 414px)"
              />
              <img
                class="slider-img"
                src="./images/sliders/adult-two-slider/adult-two-slider-05-.jpg"
                alt="Вид кімнати"
                width="194"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-two">
      <svg class="arrow-two-prev" width="32" height="32">
        <use href="/src/images/sprite.svg#arrow-left"></use>
      </svg>
      <svg class="arrow-two-next" width="32" height="32">
        <use href="/src/images/sprite.svg#arrow-right"></use>
      </svg>
    </div>
    <ul class="btn-adult">
      <li>
        <a href="./room-two.html" class="details-btn">Детальніше</a>
      </li>
      <li>
        <button
          class="button button--black hero__button"
          type="button"
          data-modal-open="Room-lux"
        >
          Переглянути ціни
        </button>
      </li>
    </ul>
  </div>
</section>
