<section class="adult-third">
  <div class="container">
    <div class="adult-third__wrap">
      <div class="adult-third__content">
        <p class="adult-third__subtitle">Amet minim mollit non</p>
        <p class="logo adult-third__logo">mimih<span>o</span></p>
        <div class="adult-third__inner">
          <h2 class="adult-third__title">трьохмісний номер</h2>
          <p class="adult-third__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <!-- <div class="adult-third__img"></div> -->
      <!-- <img src="./images/sections/adult-third/adult-third-01-mobile.jpg" alt="room" class="adult-third__img"> -->
      <div class="adult-third__img">
        <picture>
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01.jpg    1x,
              ./images/sections/adult-third/adult-third-01-2x.jpg 2x
            "
            sizes="(width: 460px)"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01-tablet.jpg    1x,
              ./images/sections/adult-third/adult-third-01-tablet-2x.jpg 2x
            "
            sizes="(width: 400px)"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/sections/adult-third/adult-third-01-mobile.jpg    1x,
              ./images/sections/adult-third/adult-third-01-mobile-2x.jpg 2x
            "
            sizes="(width: 244px)"
            media="(min-width: 414px)"
          />
          <img
            srcset="
              ./images/sections/adult-third/adult-third-01-mobile.jpg    1x,
              ./images/sections/adult-third/adult-third-01-mobile-2x.jpg 2x
            "
            alt="room"
          />
        </picture>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="adult-third__details">
      <div class="swiper-container">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />

                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-01-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-02-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-03-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-04-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>

            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-tablet.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-tablet-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 414px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile-2x.jpg 2x
                  "
                  sizes="(width: 194px)"
                  media="(min-width: 1024px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-.jpg   1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-2x.jpg 2x
                  "
                  sizes="(width: 254px)"
                  media="(min-width: 1280px)"
                  type="image/jpeg"
                />
                <img
                  srcset="
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile.jpg    1x,
                    ./images/sliders/adult-two-slider/adult-two-slider-05-mobile-2x.jpg 2x
                  "
                  alt="room"
                />
              </picture>
            </div>
          </div>

          <!-- <div class="swiper-layer"></div> -->
        </div>
        <div class="swiper-arrows">
          <div class="swiper-button-prev">
            <svg class="swiper__icon">
              <use href="./images/sprite.svg#arrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="swiper__icon">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="adult-third__buttons">
        <a href="./room-third.html" class="adult-third__link-more button"
          >Детальніше</a
        >
        <button class="adult-third__button button" data-price>
          Преглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
