<section class="adult-third">
  <div class="container">
    <div class="adult-third__wrap">
      <div class="adult-third__content">
        <p class="adult-third__subtitle">Amet minim mollit non</p>
        <p class="logo adult-third__logo">MIMIH<span>O</span></p>
        <div>
          <h2 class="adult-third__title">ТРЬОХМІСНИЙ НОМЕР</h2>
          <p class="adult-third__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <div class="adult-third__img"></div>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>

          <div class="swiper-slide"></div>
        </div>
        <!-- If we need navigation buttons -->

        <!-- If we need scrollbar -->
      </div>
      <div class="swiper-button-prev">
        <svg class="swiper__icon">
          <use href="./images/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper__icon">
          <use href="./images/sprite.svg#arrow-right"></use>
        </svg>
      </div>
    </div>

    <div class="adult-third__buttons">
      <a href="./room-third.html" class="adult-third__link-more button"
        >Детальніше</a
      >
      <button class="adult-third__button button" data-price>
        Преглянути ціни
      </button>
    </div>
  </div>
</section>
