<section class="hero-amenities">
  <div class="container">
    <h2 class="hero-amenities__title">Зручності у номері</h2>
    <p class="hero-amenities__text hero-amenities__text--view">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="hero-amenities__list">
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Загальні</h3>
        <div class="hero-amenities__column">
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Ванна кімната</h3>
        <div class="hero-amenities__column">
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Спальня</h3>
        <p class="hero-amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Кухня</h3>
        <div class="hero-amenities__column">
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="hero-amenities__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Медіа</h3>
        <p class="hero-amenities__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="hero-amenities__wrapper">
      <button class="hero-amenities__btn" type="button" data-modal-open="Room">
        Оформити бронювання
      </button>
      <a class="hero-amenities__link" href="./hotel.html"
        >Повернутися до перегляду номерів<svg class="hero-amenities__arrow">
          <use href="./images/sprite.svg#arrow-right"></use></svg
      ></a>
    </div>
  </div>
</section>
