<section class="hero-amenities-lux">
    <section class="hero-amenities">
     <div class="container">
    <h2 class="hero-amenities__title">Зручності у номері</h2>
    <p class="hero-amenities__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.</p>
    <ul class="hero-amenities__list">
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Загальні</h3>
        <p class="hero-amenities__text"><pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre>
        <pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre></p>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Ванна кімната</h3>
        <p class="hero-amenities__text">
        <pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre><pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre></p>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Спальня</h3>
        <p class="hero-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Кухня</h3>
        <p class="hero-amenities__text"><pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</pre><pre class="hero-amenities__column">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </pre></p>
      </li>
      <li class="hero-amenities__item">
        <h3 class="hero-amenities__subtitle">Медіа</h3>
        <p class="hero-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </li>
    </ul>
    <button class="hero-amenities__btn">Оформити бронювання</button>
    <a class="hero-amenities__link" href="./hotel.html">Повернутися до перегляду номерів</a>
  </div> 
</section>
    
</section>