<section class="hero-amenities-lux">
  <div class="container">
    <h2 class="hero-amenities-lux__title">Зручності у номері</h2>
    <p class="hero-amenities-lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.</p>
    <ul class="hero-amenities-lux__list">
      <li class="hero-amenities-lux__item">
        <h3 class="hero-amenities-lux__subtitle">Загальні</h3>
        <p class="hero-amenities-lux__text"><pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre>
        <pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre></p>
      </li>
      <li class="hero-amenities-lux__item">
        <h3 class="hero-amenities-lux__subtitle">Ванна кімната</h3>
        <p class="hero-amenities-lux__text"><pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre>
        <pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</pre></p>
      </li>
      <li class="hero-amenities-lux__item">
        <h3 class="hero-amenities-lux__subtitle">Спальня</h3>
        <p class="hero-amenities-lux__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
      </li>
      <li class="hero-amenities-lux__item">
        <h3 class="hero-amenities-lux__subtitle">Кухня</h3>
        <p class="hero-amenities-lux__text"><pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</pre><pre>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </pre></p>
      </li>
      <li class="hero-amenities-lux__item">
        <h3 class="hero-amenities-lux__subtitle">Медіа</h3>
        <p class="hero-amenities-lux__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
      </li>
    </ul>
    <button class="hero-amenities-lux__btn">Оформити бронювання</button>
    <a class="hero-amenities-lux__link" href="./hotel.html">Повернутися до перегляду номерів</a>
  </div>
</section>
