<section class="hero-room-third">
  <div class="hero-room__bg"></div>
  <div class="hero-room-third__con container">
    <div class="swiper hero-room__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper hero-room__swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide hero-room__swiper-slide">
          <picture hero-room__swiper-picture>
            <source
              srcset="
                ./images/sections/adult-lux/bathroom-desk-1x.jpg 1x,
                ./images/sections/adult-lux/bathroom-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/bathroom-tab-1x.jpg 1x,
                ./images/sections/adult-lux/bathroom-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/bathroom-mobile-1x.jpg 1x,
                ./images/sections/adult-lux/bathroom-mobile-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              src="./images/sections/adult-lux/bathroom-mobile-1x.jpg"
              alt="спальня з ліжком"
            />
          </picture>
        </div>
        <div class="swiper-slide hero-room__swiper-slide">
          <picture hero-room__swiper-picture>
            <source
              srcset="
                ./images/sections/adult-lux/lounge-desk-1x.jpg 1x,
                ./images/sections/adult-lux/lounge-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/lounge-tab-1x.jpg 1x,
                ./images/sections/adult-lux/lounge-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/lounge-mobile-1x.jpg 1x,
                ./images/sections/adult-lux/lounge-mobile-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              src="./images/sections/adult-lux/lounge-mobile-1x.jpg"
              alt="кімната з диваном"
            />
          </picture>
        </div>
        <div class="swiper-slide hero-room__swiper-slide">
          <picture hero-room__swiper-picture>
            <source
              srcset="
                ./images/sections/adult-lux/bedroom-desk-1x.jpg 1x,
                ./images/sections/adult-lux/bedroom-desk-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/bedroom-tab-1x.jpg 1x,
                ./images/sections/adult-lux/bedroom-tab-2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/sections/adult-lux/bedroom-mobile-1x.jpg 1x,
                ./images/sections/adult-lux/bedroom-mobile-2x.jpg 2x
              "
              media="(min-width: 414px)"
            />
            <img
              src="./images/sections/adult-lux/bedroom-mobile-1x.jpg"
              alt="спальня з ліжком"
            />
          </picture>
        </div>

        ...
      </div>
      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev hero-room__swiper-button-prev">
        <svg class="hero-room__arrow-icon">
          <use href="/src/images/sprite.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next hero-room__swiper-button-next">
        <svg class="hero-room__arrow-icon">
          <use href="/src/images/sprite.svg#arrow-right"></use>
        </svg>
      </div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <!-- title -->
    <h2 class="hero-room-lux__title animate__animated animate__pulse wow" data-wow-iteration="2"> 
      <span class="part-title">трьохмісний номер</span> 
    </h2>
    <p class="hero-room-lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="wrap-hero-room">
      <!-- address -->
      <address class="address address__pos">
        <a
          class="address__link"
          href="https://goo.gl/maps/Pnjo7kjwatkfAMe19"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="address__icon" width="24" height="24">
            <use href="./images/sprite.svg#map"></use>
          </svg>
          <span class="address__value"
            >Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</span
          ></a
        >
      </address>

      <!-- social -->
      <div class="wrap-soc">
        <ul class="social__list__position">
          <li class="social__item social__item__position">
            <a
              class="social__link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon" width="24px" height="24px">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item social__item__position">
            <a
              class="social__link"
              href="https://facebook.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon" width="24px" height="24px">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item social__item__position">
            <a
              class="social__link"
              href="https://telegram.org/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="social__icon" width="24px" height="24px">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <!-- button -->
      <button
        class="button button--gray room-hero__button animate__animated animate__pulse wow"
        type="button"
        data-modal-open="Room-triple"
        data-wow-iteration="1000"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
