<section class="hero-room-lux">
  <!-- <div class="one-time">
      <div>
        <img src="../src/images/sections/adult-lux/adult-lux-01-mobile.jpg" alt="кімната з ліжком">
      </div>
      <div>
        <img src="../src/images/sections/adult-lux/adult-lux-01-mobile.jpg" alt="кімната з ліжком">
      </div>
      <div>
        <img src="../src/images/sections/adult-lux/adult-lux-01-mobile.jpg" alt="кімната з ліжком">
      </div>
  </div> -->
  <div class="container">
    <h2 class="hero-room-lux__title"><span>двомісний номер</span> люкс</h2>
    <p class="hero-room-lux__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul>
      <li>
        <a class="hero-room-soc" href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer nofollow">
        
        </a>
      </li>
      <li>
        <a class="hero-room-soc" href="https://facebook.com"
        target="_blank"
        rel="noopener noreferrer nofollow">
        
        </a>
      </li>
      <li>
        <a class="hero-room-soc" href="https://telegram.org/"
        target="_blank"
        rel="noopener noreferrer nofollow">
        
        </a>
      </li>
    </ul>
    <button class="hero-room__btn" type="button">Переглянути ціни</button>
  </div>
</section>