.button {
  height: 48px;
  // padding: 14px;
  min-width: 232px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;

  border: 2px solid #ffffff;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear,
    color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ffffff;
    border-color: #f3c653;
  }

  &--gray {
    background-color: rgba(0, 0, 0, 0.4);
    &:hover,
    &:focus {
      color: #c79002;
    }
  }
  &--black {
    background-color: #000000;

    &:hover,
    &:focus {
      border-color: #f3c653;
    }
  }
}

.booking-room-btn {
  height: 64px;
  // padding: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  transition: background-color 250ms linear, border-color 250ms linear,
    color 250ms linear;

  &:hover,
  &:focus {
    color: #000000;
    background-color: #f3c653;
    border-color: F3C653;
  }

  @media screen and (min-width: 1024px) {
    // padding: 18px;
    min-width: 434px;
    font-size: 24px;
  }
}

.modal-desk-btn {
  height: 64px;
  // padding: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;
  transition: background-color 250ms linear, border-color 250ms linear,
    color 250ms linear;

  &:hover,
  &:focus {
    color: #000000;
    background-color: #f3c653;
    border-color: F3C653;
  }

  &:hover,
  &:focus {
    color: #000000;
    background-color: #f3c653;
    border-color: F3C653;
  }

  @media screen and (min-width: 1024px) {
    // padding: 18px;
    min-width: 592px;
  }
}
