.footer {
    background-color: $color-footer;
    padding-top: 40px;
    padding-bottom: 40px;
   @media screen and (min-width: $tablet) {
        padding-top: 80px;
        padding-bottom: 80px;
   }
}

.footer__container { 
    background-image: none;
   @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
   }
}

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.footer__logo:hover, 
.footer__logo:focus {
    color: rgba(243, 198, 83, 0.7);
}

.footer__list {
    margin-left: 85px;
    @media screen and (min-width: $tablet) {
        margin-left: 163px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 231px;
    }
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $akcent-yellow;

    transition: color 250ms linear;

    &:hover, &:focus {
        color: rgba(243, 198, 83, 0.7);
    }
}

.footer-socials { 
    display: flex;
    flex-direction: row-reverse;
    margin-left: 257px;
    gap: 20px;
    

    @media screen and (min-width: $tablet) {
        display: block;
        margin-left: 129px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 199px;
    }
}

.footer-socials__item {
    flex-basis: calc((100% - 40px) / 3);
    margin: 0;
    padding: 0;
}

.footer-socials__item:not(:last-child) {
    // margin-left: 20px;

    @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-bottom: 12px;
    }
}

.footer-socials__link {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 144px;
        height: 40px;
        border: 0.5px solid #F3C653;
        border-radius: 2px;

        transition: border 250ms linear;

        &:hover, &:focus {
            border: 0.5px solid rgba(243, 198, 83, 0.7);
        }
   }
}
    
    .footer-socials__name {
        @media screen and (max-width: 1023px) {
            display: none;
        }

        font-size: 16px;
        line-height: 1.23;
        letter-spacing: 0.02em;
        color: $akcent-yellow;

        transition: color 250ms linear;

        .footer-socials__link:hover &, .footer-socials__link:focus & {
            color: rgba(243, 198, 83, 0.7);
        }
    }

    
.footer-socials__icon {
    fill: $akcent-yellow;

    transition: fill 250ms linear;
    

    .footer-socials__link:hover &, .footer-socials__link:focus & {
        fill: rgba(243, 198, 83, 0.7);
    }
}
