.footer {
    background-color: $color-footer;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__nav {
    display: flex;
    align-items: center;
}

.footer__logo:hover, 
.footer__logo:focus {
    color: rgba(243, 198, 83, 0.7);
}

.footer__list {
    margin-left: 231px;
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $akcent-yellow;

    &:hover, &:focus {
            color: rgba(243, 198, 83, 0.7);
            // border: 0.5px solid rgba(243, 198, 83, 0.7);
        }
}

.footer-socials {
    margin-left: 199px;
}

.footer-socials__item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-socials__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 144px;
    height: 40px;
    border: 0.5px solid #F3C653;
    border-radius: 2px;
    color: $akcent-yellow;

    &:hover, &:focus {
        border: 0.5px solid rgba(243, 198, 83, 0.7);
    }
}

.footer-socials__name {
    font-size: 16px;
    line-height: 1.23;
    letter-spacing: 0.02em;
    color: $akcent-yellow;

.footer-socials__link:hover &, .footer-socials__link:focus & {
        color: rgba(243, 198, 83, 0.7);
    }
}

.footer-socials__icon {
    fill: $akcent-yellow;

    .footer-socials__link:hover &, .footer-socials__link:focus & {
        fill: rgba(243, 198, 83, 0.7);
    }
}