.footer {
    background-color: $color-footer;
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: $tablet) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    // @media screen and (min-width: $mobile) {
    //     max-width: 414px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     background-image:
    //         linear-gradient(to right, transparent 33.82%,
    //             rgba(186, 186, 186, 0.4) 33.82% 33.9%,
    //             transparent 33.9% 66.27%,
    //             rgba(186, 186, 186, 0.4) 66.27% 66.35%,
    //             transparent 66.35%);
    // }

    // @media screen and (min-width: $tablet) {
    //     max-width: 1024px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     background-image:
    //         linear-gradient(to right, transparent 27.15%,
    //             rgba(186, 186, 186, 0.4) 27.15% 27.23%,
    //             transparent 27.23% 50.08%,
    //             rgba(186, 186, 186, 0.4) 50.08% 50.16%,
    //             transparent 50.16% 73.76%,
    //             rgba(186, 186, 186, 0.4) 73.76% 73.84%,
    //             transparent 73.84%);
    // }

    // @media screen and (min-width: $desktop) {
    //     max-width: 1280px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     background-image:
    //         linear-gradient(to right, transparent 26.4%,
    //             rgba(186, 186, 186, 0.4) 26.4% 26.48%,
    //             transparent 26.48% 50.08%,
    //             rgba(186, 186, 186, 0.4) 50.08% 50.16%,
    //             transparent 50.16% 73.76%,
    //             rgba(186, 186, 186, 0.4) 73.76% 73.84%,
    //             transparent 73.84%);
    // }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
   
}

.logo__span-footer {
    letter-spacing: 0;
}

.footer__logo:hover,
.footer__logo:focus {
    color: rgba(243, 198, 83, 0.7);
}

.footer-nav-div {
    margin-left: 85px;

    @media screen and (max-width: 413px) {
        margin-left: 25px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 163px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 231px;
    }
} 

.footer__nav {
    display: flex;  
    margin-bottom: 32px;
}

.footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.footer__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $akcent-yellow;
    transition: color 250ms linear;

    &:hover, &:focus {
        color: rgba(243, 198, 83, 0.7);
    }
}

.footer-socials {
    display: flex;
    gap: 20px;

    @media screen and (min-width: $tablet) {
        flex-direction: column-reverse;
        margin-left: 137px;
        gap: 12px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 199px;
    }
}

.footer-socials__link {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 144px;
        height: 40px;
        border: 0.5px solid #F3C653;
        border-radius: 2px;
        transition: border 250ms linear;

        &:hover, &:focus {
            border: 0.5px solid rgba(243, 198, 83, 0.7);
        }
    }
}

    .footer-socials__name {
        @media screen and (max-width: 1023px) {
            display: none;
        }

        font-size: 16px;
        line-height: 1.23;
        letter-spacing: 0.02em;
        color: $akcent-yellow;
        transition: color 250ms linear;

        .footer-socials__link:hover &, .footer-socials__link:focus & {
            color: rgba(243, 198, 83, 0.7);
        }
}

.footer-socials__icon {
    fill: $akcent-yellow;
    transition: fill 250ms linear;

    .footer-socials__link:hover &, .footer-socials__link:focus & {
        fill: rgba(243, 198, 83, 0.7);
    }
}