.logo {
  font-family: 'Film P3', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: 0.3em;

  @media screen and (max-width: 400px) {
    letter-spacing: 0.2em;
  }
  @media screen and (max-width: 370px) {
    letter-spacing: 0.1em;
  }
}

.header__logo {
  text-decoration: none;
  font-size: 36px;
  color: transparent;
  background-color: #ffffff;
  background-clip: text;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.hero__logo {
  margin-bottom: 24px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }

  text-align: center;
  font-size: 96px;
  color: transparent;
  background-color: #ffffff;
  background-clip: text;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 1024px) {
    font-size: 128px;
  }

  & span {
    margin-left: 0.3em;

    @media screen and (max-width: 370px) {
      margin-left: 0.1em;
    }
  }
}

.section-homepage__logo {
  font-size: 64px;
  color: #828282;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.section-all__logo {
  font-size: 64px;
  color: #494848;
  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.footer__logo {
  font-size: 40px;
  letter-spacing: 0.3em;
  color: $akcent-yellow;
  @media screen and (min-width: $tablet) {
    font-size: 64px;
  }
}
