.restaurant-details {
  width: 100%;
  background-color: rgba(255, 253, 238, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.menu-restaurant__title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  color: rgba(0, 0, 0, 1);
  padding-bottom: 16px;
}

.menu-restaurant__dish {
  display: block;
  //   @include tablet {
  //     display: flex;
  //   }
}

.menu-restaurant__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.menu-restaurant__caption {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  padding: 16px 0px;
}

.menu-restaurant__name {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
  padding-bottom: 4px;
}

.menu-restaurant__products {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
}

.menu-restaurant__weight {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.menu-restaurant__price {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  text-align: right;
}

.menu-restaurant__dessert {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
}

.menu-restaurant__drink {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
}

.menu-restaurant__btn {
  background-color: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  padding: 15px 25px;
  margin-top: 32px;
  transition: background-color 250ms linear, border 250ms linear,
    color 250ms linear;
}

.menu-restaurant__btn:hover,
.menu-restaurant__btn:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
  color: #f3c653;
}
