.restaurant-details {
  width: 100%;
  background-color: #f0ecd6;
  text-align: center;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1024px) {
      text-align: right;
      padding-top: 58px;
      padding-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
      padding-bottom: 60px;
    }
  }
}

.menu-restaurant__title {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.16;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  padding-bottom: 16px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 24px;
  }
}

.menu-restaurant__dish {
  display: block;
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 87px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 142px;
  }
}

.menu-restaurant__table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.menu-restaurant__caption {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  padding: 16px 0px;
  @media screen and (min-width: 1024px) {
    padding: 20px 0px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.menu-restaurant__name {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
  padding-bottom: 4px;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.menu-restaurant__products {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__weight {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  padding-bottom: 8px;
}

.menu-restaurant__price {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  text-align: right;
  padding-bottom: 8px;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.menu-restaurant__dessert {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__drink {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 1);
  width: 60%;
  text-align: left;
  padding-bottom: 8px;
}

.menu-restaurant__lastline {
  padding-bottom: 0px;
}

.menu-restaurant__button {
  background-color: #000000;
  border: 2px solid #fffdee;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  padding: 15px 25px;
  margin-top: 32px;
  min-width: 232px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, border 250ms linear,
    color 250ms linear;
  @media screen and (min-width: 1024px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 40px;
  }
}

.menu-restaurant__button:hover,
.menu-restaurant__button:focus {
  background-color: #ffffff;
  border: 2px solid #f3c653;
  color: #f3c653;
}
